<%= form_with(url: sign_in_path, scope: :user) do |form| %>
  <div>
    <div>
      <%= form.label(:email) %>
    </div>
    <div>
      <%= form.email_field(:email, required: true) %>
    </div>
  </div>
  <div>
    <div>
      <%= form.label(:password) %>
    </div>
    <div>
      <%= form.password_field(:password, required: true) %>
    </div>
  </div>
  <%= form.submit('Sign In') %>
<% end %>
